$width: 100%;
$width2: 60%;
$height: 100%;
$height2: 700px;
$background-color: #FBFBFC;
$color1:  #6A8BDF;
$color2: #0E121A;
$color3: #3182c8;
$relative: relative;
$absolute: absolute;
$flex: flex;
$flexWrap: wrap;
$transition: all .5s ease;
$break-desktop: 1310px;
$break-desktop2 : 1218px;
$break-desktop3: 1060px;
$break-ipad: 970px;
$break-ipad2: 884px;
$break-ipad3: 824px;
$break-phone: 760px;
$break-phone2: 700px;
$break-phone3: 664px;
$phone : 411px;
